body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: larger;
    font-family: 'VT323', monospace;
}

#before p {
    line-height: 0;
    flex-wrap: wrap;
}

#before li{
    padding-left: 50px;
    list-style: none;
}

.betterlh{
    line-height: 20px !important;
}

.headercolor{
    font-size: medium;
    color:  var(--header-color);
}

.visiteurcolor{
    color:  var(--visiteur-color);
}

.hintcolor{
    color:  var(--hint-color);
}

.errorcolor{
    color:  var(--error-color);
}

#user-input{
    display: flex;
    height: 54px;
}

#user-input p {
    margin: 0 0;
}

#user-input textarea{
    left: -1000px;
  position: absolute;
}

#user-input #blinker{
    font-size: 17px;
    height: 20px;
    color: var(--blinker-color-one);
    background-color: var(--blinker-color-two);
    position: relative;
    opacity: 1;
    width: 10px;
    max-width: 10px;
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}